<div class="container" style="position: relative; height: 100vh;">
    <div class="jumbotron" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">404 Not Found<p> </p><p><small class="text-center"> This page does not exist.</small></p></h1>
        <p class="text-center">Try pressing the back button or clicking here.</p>
        <p class="text-center"><a class="btn btn-primary" href="/welcome"><i class="icon-home"></i> Take Me Home</a></p>
    </div>
</div>