<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <h1 class="portalheader">
                <i class="icon-user" aria-hidden="true"></i> Profile Information
            </h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <p><strong>Identification Number:</strong> {{user.identifier}}</p>
                        <p><strong>Name:</strong> {{user.firstname}} {{user.lastname}}</p>
                        <p><strong>Email:</strong> {{user.email}}</p>
                        <p ng-cloak ng-if="user.program"><strong>Program:</strong> {{user.program}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>