<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Capstone System</h2>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/welcome">Dashboard</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="#">Oral Presentation</a></li>
                <li class="active"><a href="/profile">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul><br>
        </div>
        <br>
        <div class="col-sm-9">
            <h1 class="portalheader">
                <i class="icon-user" aria-hidden="true"></i> Profile Information
            </h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <p><strong>Student Number:</strong> 100951843</p>
                        <p><strong>Name:</strong> Mohamed Dahrouj</p>
                        <p><strong>Email:</strong> mohameddahrouj@cmail.carleton.ca</p>
                        <p><strong>Program:</strong> Software</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>