<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <h1 class="portalheader">
                <i class="icon-drawer" aria-hidden="true"></i> Dashboard
            </h1>
            <h4 class="h4TileHeader"><i class="icon-home"></i> Project Information</h4>
            <div class="row">
                <div class="col-sm-7">
                    <div class="well">
                        <h4 class="h4TileHeader"><i class="icon-notebook"></i> Project Details</h4>
                        <p><strong>Project ID:</strong> 24</p>
                        <p><strong>Title:</strong> Secure Electronic Communication Platform</p>
                        <p><strong>Supervisor:</strong> Jason Jaskolka</p>
                        <p><strong>Second Reader:</strong> David Huang</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="well">
                        <h4 class="h4TileHeader"><i class="icon-people"></i> Project Members</h4>
                        <p><i class="icon-user"></i> Ali Farah</p>
                        <p><i class="icon-user"></i> Lava Tahir</p>
                        <p><i class="icon-user"></i> Tosin Oni</p>
                        <p><i class="icon-user"></i> Vincent Vu</p>
                    </div>
                </div>
            </div>
            <h4 class="h4TileHeader"><i class="icon-rocket"></i> My Projects</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div class="alert alert-success">
                            <strong>Note:</strong> Below is a list of projects that you have applied to.
                        </div>
                        <div class="alert alert-success">
                            <strong>Note:</strong> Below are the projects you have created. Archived projects appear with a pin.
                        </div>
                        <table id="myProjectsTable" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Supervisor</th>
                                <th>Members</th>
                                <th>Programs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Secure Electronic Communication Platform <i class="icon-pin green"></i></td>
                                <td>Jason Jaskolka</td>
                                <td>3-5</td>
                                <td>SE</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Autonomous Vehicles <i class="icon-pin green"></i></td>
                                <td>Jason Jaskolka</td>
                                <td>2-4</td>
                                <td>SE, EE</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>A Clean Java Compiler</td>
                                <td>Donald Bailey</td>
                                <td>2-3</td>
                                <td>SE</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>