<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <h1 class="portalheader">
                <i class="icon-drawer" aria-hidden="true"></i> Dashboard
            </h1>
            <div ng-cloak ng-if="studentHasProject">
                <h4 class="h4TileHeader"><i class="icon-home"></i> Project Information</h4>
                <div class="alert alert-danger" ng-cloak ng-show="!isProfOrCoordinator">
                    Your oral presentation is scheduled for <strong>Monday March 12 from 1:00PM to 2:00PM.</strong>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="well">
                            <h4 class="h4TileHeader"><i class="icon-notebook"></i> Project Details</h4>
                            <p><strong>Project ID:</strong> {{project.id}}</p>
                            <p><strong>Title:</strong> {{project.name}}</p>
                            <p><strong>Supervisor:</strong> {{project.supervisor.firstname}} {{project.supervisor.lastname}}</p>
                            <p><strong>Oral Presentation:</strong> Monday March 12 from 1:00PM to 2:00PM.</p>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="well">
                            <h4 class="h4TileHeader"><i class="icon-people"></i> Project Members</h4>
                            <p ng-repeat="member in project.members">
                                <i class="icon-user"></i> {{member.firstname}} {{member.lastname}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="h4TileHeader" ng-if="!studentHasProject"><i class="icon-rocket"></i> My Projects</h4>
            <div class="alert alert-danger" ng-cloak ng-show="isProfOrCoordinator">
                <strong>Oral Presentations:</strong>
                <ul>
                    <li><strong>SECP</strong> scheduled for Monday March 12 from 1:00PM to 2:00PM.</li>
                    <li><strong>Apple Sauce Robots</strong> scheduled for Tuesday March 13 from 4:00PM to 5:00PM.</li>
                </ul>
            </div>
            <div class="row" ng-if="!studentHasProject">
                <div class="col-sm-12">
                    <div class="well">
                        <div class="alert alert-success" ng-cloak ng-show="!isProfOrCoordinator">
                            <strong>Note:</strong> Below is a list of projects that you have applied to.
                        </div>
                        <div class="alert alert-success" ng-cloak ng-show="isProfOrCoordinator">
                            <strong>Note:</strong> Below are the projects you have created. Archived projects appear with a pin.
                        </div>
                        <kapi-projects-table name="projectsTable" data="projects" headers="projectHeaders" modalname="newProjectModal"
                                             buttonname="New Project" isproforcoordinator="isProfOrCoordinator"></kapi-projects-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Modal -->
<div class="modal fade" id="newProjectModal" role="dialog">
    <div class="modal-dialog" style="width: 90%; height : 80%">

        <!-- Modal content-->
        <form class="modal-content" ng-submit="createProject()" name="frm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-plus" aria-hidden="true"></i> New Project</h4>
            </div>
            <div class="modal-body">
                Name:<br>
                <input type="text" required ng-model="project.name" name="projectName" placeholder="Project Name" style="width:100%;">
                <br><br>Description:<br>
                <textarea froala="froalaOptions" ng-model="project.description" required></textarea>
                <br><br>Programs:<br>
                <select select2 required class="programList" ng-model="project.programsAllowed" name="programs[]" multiple style="width:100%;" ng-options="program for program in programs">
                </select>
                <br><br>Members:<br>
                <input type="number" required name="minMembers" ng-model="project.minCapacity" placeholder="Min" min="1">
                to
                <input type="number" required name="maxMembers" ng-model="project.maxCapacity" placeholder="Max" min="1">
                <br>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>

    </div>
</div>