<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>Capstone System</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/welcome">Dashboard</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="#">Oral Presentation</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul><br>
        </div>
        <br>
        <div class="col-sm-9">
            <h1 class="portalheader">
                <i class="icon-drawer" aria-hidden="true"></i> Dashboard
            </h1>
            <h4 class="h4TileHeader"><i class="icon-home"></i> Project Information</h4>
            <div class="row">
                <div class="col-sm-7">
                    <div class="well">
                        <h4 class="h4TileHeader"><i class="icon-notebook"></i> Project Details</h4>
                        <p><strong>Project ID:</strong> 24</p>
                        <p><strong>Title:</strong> Secure Electronic Communication Platform</p>
                        <p><strong>Supervisor:</strong> Jason Jaskolka</p>
                        <p><strong>Second Reader:</strong> David Huang</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="well">
                        <h4 class="h4TileHeader"><i class="icon-people"></i> Project Members</h4>
                        <p><i class="icon-user"></i> Ali Farah</p>
                        <p><i class="icon-user"></i> Lava Tahir</p>
                        <p><i class="icon-user"></i> Tosin Oni</p>
                        <p><i class="icon-user"></i> Vincent Vu</p>
                    </div>
                </div>
            </div>
            <h4 class="h4TileHeader"><i class="icon-list"></i> All Projects</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well projectsTile">
                        <h4 class="h4TileHeader"><i class="icon-rocket"></i> Projects</h4>
                        <p>View Project Catalogue</p>
                    </div>
                </div>
            </div>
            <h4 class="h4TileHeader"><i class="icon-grid"></i> Project Operations</h4>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well utilsTile">
                        <h4 class="h4TileHeader"><i class="icon-doc"></i> Proposal</h4>
                        <p>Submit Proposal</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well utilsTile">
                        <h4 class="h4TileHeader"><i class="icon-calendar"></i> Schedule</h4>
                        <p>View/Update Oral Presentation Time</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well utilsTile">
                        <h4 class="h4TileHeader"><i class="icon-docs"></i> Final Report</h4>
                        <p>Submit Final Report</p>
                    </div>
                </div>
            </div>
            <h4 class="h4TileHeader"><i class="icon-graph"></i> Project Status</h4>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <h5 class="gradeHeader">Proposal</h5>
                        <p class="gradeContent green">Submitted</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h5 class="gradeHeader">Oral Presentation</h5>
                        <p class="gradeContent green">A</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h5 class="gradeHeader">Poster Fair</h5>
                        <p class="gradeContent red">N/A</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h5 class="gradeHeader">Final Report</h5>
                        <p class="gradeContent red">N/A</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>