<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="portalheader">
                        <i class="icon-rocket" aria-hidden="true"></i> Project
                    </h1>
                </div>
                <div class="col-sm-12">
                    <div class="actionsbar">
                        <div ng-cloak ng-if="isUserAStudent">
                            <button title="Apply" ng-cloak ng-if="isApply" ng-click="applyForProject()" type="button" class="btn btn-success"><i class="icon-check"></i> Apply</button>
                            <button title="Cancel" ng-cloak ng-if="isCancel" ng-click="cancelApplicationForProject()" type="button" class="btn btn-danger"><i class="icon-close"></i> Cancel</button>
                        </div>

                        <div ng-cloak ng-if="isProjectForProf">
                            <button title="Edit" ng-click="openEditProjectModal()" type="button" class="btn btn-warning"><i class="icon-pencil"></i> Edit</button>
                            <button ng-click="openAddStudentToProjectModal()" title="Students" type="button" class="btn btn-primary"><i class="icon-plus"></i> Students</button>
                            <button ng-cloak ng-if="isArchive" ng-click="archiveProject()" title="Archive" type="button" class="btn btn-success"><i class="icon-pin"></i> Archive</button>
                            <button ng-cloak ng-if="isUnArchive" ng-click="unArchiveProject()" title="unArchive" type="button" class="btn btn-success"><i class="icon-pin"></i> UnArchive</button>
                            <button ng-click="deleteProject()" title="Delete" type="button" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h4 class="h4TileHeader"><i class="icon-grid"></i> Project Details</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <p><strong><i class="icon-" aria-hidden="true"></i> ID:</strong> {{project.id}}</p>
                        <p><strong>Name:</strong> {{project.name}}</p>
                        <p><strong>Supervisor:</strong> {{project.supervisor.firstname}} {{project.supervisor.lastname}}</p>
                        <p><strong>Program(s):</strong> {{getProgramsAllowed(project.programsAllowed)}} </p>
                        <p><strong>Members:</strong> {{project.minCapacity}} - {{project.maxCapacity}}</p>
                    </div>
                </div>
            </div>

            <div ng-cloak ng-if="isProjectForProf && project.members">
                <h4 class="h4TileHeader"><i class="icon-people"></i> Project Members</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <p ng-repeat="member in project.members">
                                <i class="icon-user"></i> {{member.firstname}} {{member.lastname}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <h4 class="h4TileHeader"><i class="icon-list"></i> Description</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <p froala-view="project.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="addStudentsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form class="modal-content" ng-submit="addStudentsToProject()" role="form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-plus" aria-hidden="true"></i> Add Students to {{project.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Please note:</strong> Only the students who have applied to the project are visible below.
                </div>
                <p><strong>Students:</strong></p>
                <select select2 ng-model="project.members" class="studentList"
                        ng-options="s as (s.firstname + ' ' + s.lastname) for s in appliedStudents track by s.id"
                        name="students[]" multiple="multiple" required style="width:100%;">
                </select>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>

    </div>
</div>

<!-- edit project modal -->
<kapi-projects-modal name="editProjectModal" frmname="editProjectForm" title="Edit Project" modal-data="editProjectData"
                     save-fn="editProject(project)"></kapi-projects-modal>