<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="portalheader">
                        <i class="icon-rocket" aria-hidden="true"></i> Project
                    </h1>
                </div>
                <div class="col-sm-12">
                    <div class="actionsbar">
                        <div ng-cloak ng-if="isUserAStudent">
                            <button title="Apply" ng-cloak ng-if="isApply" ng-click="applyForProject()" type="button" class="btn btn-success"><i class="icon-check"></i> Apply</button>
                            <button title="Cancel" ng-cloak ng-if="isCancel" type="button" class="btn btn-danger"><i class="icon-close"></i> Cancel</button>
                        </div>

                        <div ng-cloak ng-if="isProjectForProf">
                            <button title="Edit" type="button" class="btn btn-warning"><i class="icon-pencil"></i> Edit</button>
                            <button data-toggle="modal" data-target="#addStudentsModal" title="Students" type="button" class="btn btn-primary"><i class="icon-plus"></i> Students</button>
                            <button title="Archive" type="button" class="btn btn-success"><i class="icon-pin"></i> Archive</button>
                            <button title="Delete" type="button" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h4 class="h4TileHeader"><i class="icon-grid"></i> Project Details</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <p><strong><i class="icon-" aria-hidden="true"></i> ID:</strong> {{project.id}}</p>
                        <p><strong>Name:</strong> {{project.name}}</p>
                        <p><strong>Supervisor:</strong> {{project.supervisor.firstname}} {{project.supervisor.lastname}}</p>
                        <p><strong>Program(s):</strong> {{getProgramsAllowed(project.programsAllowed)}} </p>
                        <p><strong>Members:</strong> {{project.minCapacity}} - {{project.maxCapacity}}</p>
                    </div>
                </div>
            </div>
            <h4 class="h4TileHeader"><i class="icon-list"></i> Description</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <p froala-view="project.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="addStudentsModal" role="dialog">
    <div class="modal-dialog" style="width: 90%; height : 80%">

        <!-- Modal content-->
        <form class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-plus" aria-hidden="true"></i> Add Students to {{project.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Please note:</strong> Only the students who have applied to the project are visible below.
                </div>
                <p><strong>Students:</strong></p>
                <select class="studentList" name="students[]" multiple="multiple" style="width:100%;">
                    <option value="1">Ali Fawaz</option>
                    <option value="2">Ali Saidi</option>
                    <option value="3">Mohamed Dahrouj</option>
                    <option value="4">Tosin Oni</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>

    </div>
</div>