<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <h1 class="portalheader">
                <i class="icon-calendar" aria-hidden="true"></i> Schedule
            </h1>
            <div class="container">
                <br>
                <div class="alert alert-success">
                    <strong>Note:</strong> Select your available times below and submit when completed.
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#monday"><i class="icon-options-vertical" aria-hidden="true"></i> Monday March 12</a>
                        </h4>
                    </div>
                    <!-- List group -->
                    <div id="monday" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    9:00 AM to 10:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption1" name="MondayOption1" type="checkbox"/>
                                        <label for="MondayOption1" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    10:00 AM to 11:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption2" name="MondayOption2" type="checkbox"/>
                                        <label for="MondayOption2" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    11:00 AM to 12:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption3" name="MondayOption3" type="checkbox"/>
                                        <label for="MondayOption3" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    12:00 PM to 1:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption4" name="MondayOption4" type="checkbox"/>
                                        <label for="MondayOption4" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    1:00 PM to 2:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption5" name="MondayOption5" type="checkbox"/>
                                        <label for="MondayOption5" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    2:00 PM to 3:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption6" name="MondayOption6" type="checkbox"/>
                                        <label for="MondayOption6" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    3:00 PM to 4:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption7" name="MondayOption7" type="checkbox"/>
                                        <label for="MondayOption7" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    4:00 PM to 5:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption8" name="MondayOption8" type="checkbox"/>
                                        <label for="MondayOption8" class="label-success"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#tuesday"><i class="icon-options-vertical" aria-hidden="true"></i> Tuesday March 13</a>
                        </h4>
                    </div>
                    <!-- List group -->
                    <div id="tuesday" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    9:00 AM to 10:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption1" name="MondayOption1" type="checkbox"/>
                                        <label for="MondayOption1" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    10:00 AM to 11:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption2" name="MondayOption2" type="checkbox"/>
                                        <label for="MondayOption2" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    11:00 AM to 12:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption3" name="MondayOption3" type="checkbox"/>
                                        <label for="MondayOption3" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    12:00 PM to 1:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption4" name="MondayOption4" type="checkbox"/>
                                        <label for="MondayOption4" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    1:00 PM to 2:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption5" name="MondayOption5" type="checkbox"/>
                                        <label for="MondayOption5" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    2:00 PM to 3:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption6" name="MondayOption6" type="checkbox"/>
                                        <label for="MondayOption6" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    3:00 PM to 4:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption7" name="MondayOption7" type="checkbox"/>
                                        <label for="MondayOption7" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    4:00 PM to 5:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption8" name="MondayOption8" type="checkbox"/>
                                        <label for="MondayOption8" class="label-success"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#wednesday"><i class="icon-options-vertical" aria-hidden="true"></i> Wednesday March 14</a>
                        </h4>
                    </div>
                    <!-- List group -->
                    <div id="wednesday" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    9:00 AM to 10:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption1" name="MondayOption1" type="checkbox"/>
                                        <label for="MondayOption1" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    10:00 AM to 11:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption2" name="MondayOption2" type="checkbox"/>
                                        <label for="MondayOption2" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    11:00 AM to 12:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption3" name="MondayOption3" type="checkbox"/>
                                        <label for="MondayOption3" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    12:00 PM to 1:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption4" name="MondayOption4" type="checkbox"/>
                                        <label for="MondayOption4" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    1:00 PM to 2:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption5" name="MondayOption5" type="checkbox"/>
                                        <label for="MondayOption5" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    2:00 PM to 3:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption6" name="MondayOption6" type="checkbox"/>
                                        <label for="MondayOption6" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    3:00 PM to 4:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption7" name="MondayOption7" type="checkbox"/>
                                        <label for="MondayOption7" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    4:00 PM to 5:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption8" name="MondayOption8" type="checkbox"/>
                                        <label for="MondayOption8" class="label-success"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#thursday"><i class="icon-options-vertical" aria-hidden="true"></i> Thursday March 15</a>
                        </h4>
                    </div>
                    <!-- List group -->
                    <div id="thursday" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    9:00 AM to 10:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption1" name="MondayOption1" type="checkbox"/>
                                        <label for="MondayOption1" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    10:00 AM to 11:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption2" name="MondayOption2" type="checkbox"/>
                                        <label for="MondayOption2" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    11:00 AM to 12:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption3" name="MondayOption3" type="checkbox"/>
                                        <label for="MondayOption3" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    12:00 PM to 1:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption4" name="MondayOption4" type="checkbox"/>
                                        <label for="MondayOption4" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    1:00 PM to 2:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption5" name="MondayOption5" type="checkbox"/>
                                        <label for="MondayOption5" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    2:00 PM to 3:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption6" name="MondayOption6" type="checkbox"/>
                                        <label for="MondayOption6" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    3:00 PM to 4:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption7" name="MondayOption7" type="checkbox"/>
                                        <label for="MondayOption7" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    4:00 PM to 5:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption8" name="MondayOption8" type="checkbox"/>
                                        <label for="MondayOption8" class="label-success"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#friday"><i class="icon-options-vertical" aria-hidden="true"></i> Friday March 17</a>
                        </h4>
                    </div>
                    <!-- List group -->
                    <div id="friday" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    9:00 AM to 10:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption1" name="MondayOption1" type="checkbox"/>
                                        <label for="MondayOption1" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    10:00 AM to 11:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption2" name="MondayOption2" type="checkbox"/>
                                        <label for="MondayOption2" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    11:00 AM to 12:00 AM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption3" name="MondayOption3" type="checkbox"/>
                                        <label for="MondayOption3" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    12:00 PM to 1:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption4" name="MondayOption4" type="checkbox"/>
                                        <label for="MondayOption4" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    1:00 PM to 2:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption5" name="MondayOption5" type="checkbox"/>
                                        <label for="MondayOption5" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    2:00 PM to 3:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption6" name="MondayOption6" type="checkbox"/>
                                        <label for="MondayOption6" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    3:00 PM to 4:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption7" name="MondayOption7" type="checkbox"/>
                                        <label for="MondayOption7" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    4:00 PM to 5:00 PM
                                    <div class="material-switch pull-right">
                                        <input id="MondayOption8" name="MondayOption8" type="checkbox"/>
                                        <label for="MondayOption8" class="label-success"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-secondary" style="float: right;">Submit Availability</button>
        </div>
    </div>
</div>
</div>
</body>