<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="portalheader">
                        <i class="icon-calendar" aria-hidden="true"></i> Schedule
                    </h1>
                </div>
                <div class="col-sm-6">
                    <div class="actionsbar">
                        <div ng-cloak ng-if="isCoordinator">
                            <button title="Schedule" type="button" class="btn btn-danger"><i class="icon-refresh"></i> Run Scheduling Algorithm</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div class="panel-group">
                    <div class="alert alert-danger" ng-cloak ng-if="isCoordinator">
                        <strong>Note:</strong> Scheduling conflicts are currently unable to be solved manually, professors are encouraged meet with their teams to resolve any scheduling conflicts.
                    </div>
                    <h4 class="h4TileHeader"><i class="icon-clock" ng-cloak ng-if="isCoordinator"></i> Availability:</h4>
                    <div class="alert alert-success">
                        <strong>Note:</strong> Select your available times below and submit when completed.
                    </div>
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#monday"><i class="icon-options-vertical" aria-hidden="true"></i> Monday March 12</a>
                            </h4>
                        </div>
                        <!-- List group -->
                        <div id="monday" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        9:00 AM to 10:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption1" name="MondayOption1" type="checkbox"/>
                                            <label for="MondayOption1" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        10:00 AM to 11:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption2" name="MondayOption2" type="checkbox"/>
                                            <label for="MondayOption2" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        11:00 AM to 12:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption3" name="MondayOption3" type="checkbox"/>
                                            <label for="MondayOption3" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        12:00 PM to 1:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption4" name="MondayOption4" type="checkbox"/>
                                            <label for="MondayOption4" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        1:00 PM to 2:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption5" name="MondayOption5" type="checkbox"/>
                                            <label for="MondayOption5" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        2:00 PM to 3:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption6" name="MondayOption6" type="checkbox"/>
                                            <label for="MondayOption6" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        3:00 PM to 4:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption7" name="MondayOption7" type="checkbox"/>
                                            <label for="MondayOption7" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        4:00 PM to 5:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="MondayOption8" name="MondayOption8" type="checkbox"/>
                                            <label for="MondayOption8" class="label-success"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#tuesday"><i class="icon-options-vertical" aria-hidden="true"></i> Tuesday March 13</a>
                            </h4>
                        </div>
                        <!-- List group -->
                        <div id="tuesday" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        9:00 AM to 10:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption1" name="TuesdayOption1" type="checkbox"/>
                                            <label for="TuesdayOption1" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        10:00 AM to 11:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption2" name="TuesdayOption2" type="checkbox"/>
                                            <label for="TuesdayOption2" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        11:00 AM to 12:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption3" name="TuesdayOption3" type="checkbox"/>
                                            <label for="TuesdayOption3" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        12:00 PM to 1:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption4" name="Tuesdayption4" type="checkbox"/>
                                            <label for="TuesdayOption4" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        1:00 PM to 2:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption5" name="TuesdayOption5" type="checkbox"/>
                                            <label for="TuesdayOption5" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        2:00 PM to 3:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption6" name="TuesdayOption6" type="checkbox"/>
                                            <label for="TuesdayOption6" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        3:00 PM to 4:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption7" name="TuesdayOption7" type="checkbox"/>
                                            <label for="TuesdayOption7" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        4:00 PM to 5:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="TuesdayOption8" name="TuesdayOption8" type="checkbox"/>
                                            <label for="TuesdayOption8" class="label-success"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#wednesday"><i class="icon-options-vertical" aria-hidden="true"></i> Wednesday March 14</a>
                            </h4>
                        </div>
                        <!-- List group -->
                        <div id="wednesday" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        9:00 AM to 10:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption1" name="WednesdayOption1" type="checkbox"/>
                                            <label for="WednesdayOption1" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        10:00 AM to 11:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption2" name="WednesdayOption2" type="checkbox"/>
                                            <label for="WednesdayOption2" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        11:00 AM to 12:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption3" name="WednesdayOption3" type="checkbox"/>
                                            <label for="WednesdayOption3" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        12:00 PM to 1:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption4" name="WednesdayOption4" type="checkbox"/>
                                            <label for="WednesdayOption4" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        1:00 PM to 2:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption5" name="WednesdayOption5" type="checkbox"/>
                                            <label for="WednesdayOption5" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        2:00 PM to 3:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption6" name="WednesdayOption6" type="checkbox"/>
                                            <label for="WednesdayOption6" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        3:00 PM to 4:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption7" name="WednesdayOption7" type="checkbox"/>
                                            <label for="WednesdayOption7" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        4:00 PM to 5:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="WednesdayOption8" name="WednesdayOption8" type="checkbox"/>
                                            <label for="WednesdayOption8" class="label-success"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#thursday"><i class="icon-options-vertical" aria-hidden="true"></i> Thursday March 15</a>
                            </h4>
                        </div>
                        <!-- List group -->
                        <div id="thursday" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        9:00 AM to 10:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption1" name="Thursdayption1" type="checkbox"/>
                                            <label for="Thursdayption1" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        10:00 AM to 11:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption2" name="Thursdayption2" type="checkbox"/>
                                            <label for="Thursdayption2" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        11:00 AM to 12:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption3" name="Thursdayption3" type="checkbox"/>
                                            <label for="Thursdayption3" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        12:00 PM to 1:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption4" name="Thursdayption4" type="checkbox"/>
                                            <label for="Thursdayption4" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        1:00 PM to 2:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption5" name="Thursdayption5" type="checkbox"/>
                                            <label for="Thursdayption5" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        2:00 PM to 3:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption6" name="Thursdayption6" type="checkbox"/>
                                            <label for="Thursdayption6" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        3:00 PM to 4:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption7" name="Thursdayption7" type="checkbox"/>
                                            <label for="Thursdayption7" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        4:00 PM to 5:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="Thursdayption8" name="Thursdayption8" type="checkbox"/>
                                            <label for="Thursdayption8" class="label-success"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#friday"><i class="icon-options-vertical" aria-hidden="true"></i> Friday March 17</a>
                            </h4>
                        </div>
                        <!-- List group -->
                        <div id="friday" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        9:00 AM to 10:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption1" name="FridayOption1" type="checkbox"/>
                                            <label for="FridayOption1" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        10:00 AM to 11:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption2" name="FridayOption2" type="checkbox"/>
                                            <label for="FridayOption2" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        11:00 AM to 12:00 AM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption3" name="FridayOption3" type="checkbox"/>
                                            <label for="FridayOption3" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        12:00 PM to 1:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption4" name="FridayOption4" type="checkbox"/>
                                            <label for="FridayOption4" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        1:00 PM to 2:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption5" name="FridayOption5" type="checkbox"/>
                                            <label for="FridayOption5" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        2:00 PM to 3:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption6" name="FridayOption6" type="checkbox"/>
                                            <label for="FridayOption6" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        3:00 PM to 4:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption7" name="FridayOption7" type="checkbox"/>
                                            <label for="FridayOption7" class="label-success"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        4:00 PM to 5:00 PM
                                        <div class="material-switch pull-right">
                                            <input id="FridayOption8" name="FridayOption8" type="checkbox"/>
                                            <label for="FridayOption8" class="label-success"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-success" style="float: right;">Submit Availability</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>