<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="portalheader">
                        <i class="icon-cloud-upload" aria-hidden="true"></i> Submissions
                    </h1>
                </div>
                <div class="col-sm-4">
                    <div class="actionsbar">
                        <div ng-cloak ng-if="!isProfOrCoordinator">
                            <button title="AddSubmission" ng-click="addSubmission()" type="button" class="btn btn-success"><i class="icon-doc"></i> Add Submission</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="alert alert-warning" ng-cloak ng-show="!isProfOrCoordinator">
                <strong>Notification:</strong> The final report is due April 5th at noon.
            </div>
            <table datatable id="submissionsTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Submission</th>
                    <th>Date</th>
                    <th style="text-align: right">Grade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Secure Electronic Communication Platform</td>
                    <td>Progress Report</td>
                    <td>3/1/2018 5:48PM</td>
                    <td style="text-align: right">
                        <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editGrade()"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                        <span ng-cloak ng-if="!isProfOrCoordinator">A-</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Secure Electronic Communication Platform</td>
                    <td>Final Report</td>
                    <td>3/19/2018 10:12PM</td>
                    <td style="text-align: right">
                        <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editGrade()"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                        <span ng-cloak ng-if="!isProfOrCoordinator">N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Autonomous Vehicles</td>
                    <td>Final Report</td>
                    <td>3/18/2018 7:42PM</td>
                    <td style="text-align: right">
                        <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editGrade()"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                        <span ng-cloak ng-if="!isProfOrCoordinator">N/A</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="gradesModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-pencil" aria-hidden="true"></i> Edit Grades for ProjectNameHere</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <strong>Note:</strong> Select the individual grade for each student for <strong>FileSubmissionName.pdf</strong>.
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <strong>Student:</strong>
                    </div>
                    <div class="col-xs-8">
                        <strong>Grade:</strong>
                    </div>
                </div>
                <div class="row">
                <div class="col-xs-4">
                    <span>Tosin Oni</span>
                </div>
                <div class="col-xs-8">
                    <select>
                        <option value="NA">NA</option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option>
                        <option value="C-">C-</option>
                        <option value="D+">D+</option>
                        <option value="D">D</option>
                        <option value="D-">D-</option>
                    </select>
                </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <span>Mohamed Dahrouj</span>
                    </div>
                    <div class="col-xs-8">
                        <select>
                            <option value="NA">NA</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="D-">D-</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <span>Ibrahim Ali Fawaz</span>
                    </div>
                    <div class="col-xs-8">
                        <select>
                            <option value="NA">NA</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="D-">D-</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <span>Ali AlSaadi</span>
                    </div>
                    <div class="col-xs-8">
                        <select>
                            <option value="NA">NA</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="D-">D-</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit Grades</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="submitModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-doc" aria-hidden="true"></i> Upload a Deliverable</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-cloak ng-if="project.deliverable">
                    <strong>Time Remaining: </strong><span id="demo"></span>
                </div>
                <div class="container">
                    <span>Deliverable:</span>
                    <select ng-model="project.deliverable" required name="deliverable" required style="width:100%; margin-bottom: 20px">
                        <option>Essay 1</option>
                        <option>Essay 2</option>
                    </select>
                    <input id="submission-file" name="submission-file" type="file">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>