<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="portalheader">
                        <i class="icon-cloud-upload" aria-hidden="true"></i> Submissions
                    </h1>
                </div>
                <div class="col-sm-4">
                    <div class="actionsbar">
                        <div ng-cloak ng-if="!isProfOrCoordinator">
                            <button title="AddSubmission" ng-click="addSubmission()" type="button" class="btn btn-success"><i class="icon-doc"></i> Add Submission</button>
                        </div>
                        <div ng-cloak ng-if="isProfOrCoordinator">
                            <button ng-click="openAddDeliverableToProjectModal()" title="Deliverables" type="button" class="btn btn-info"><i class="icon-docs"></i> Add Deliverable</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="alert alert-warning" ng-cloak ng-show="!isProfOrCoordinator">
                <p><strong>Due Dates:</strong></p>
                <ul>
                    <li>{{"Progress Report"}} is due on {{"January 15, 2018 23:59:59."}}</li>
                    <li>{{"Final Report"}} is due on {{"April 5, 2018 23:59:59."}}</li>
                </ul>
            </div>
            <div class="alert alert-warning" ng-cloak ng-show="isProfOrCoordinator" style="width: 100%;">
                <p><strong>Select project below to display submissions:</strong></p>
                <select select2 ng-model="project.tableProject"
                        ng-options="p as (p.name) for p in projectsSupervised track by p.id"
                        name="tableProject" required style="width:100%; margin-bottom: 20px">
                </select>
            </div>

            <h4 class="h4TileHeader"><i class="icon-docs"></i> Project Deliverables</h4>
            <div class="alert alert-info" style="width: 100%;">
                <p><i class="icon-doc"></i> <strong>Progress Report</strong> due in ....
                    <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editDeliverable()" style="float: right"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                </p>
                <hr>
                <p><i class="icon-doc"></i> <strong>Progress Report</strong> due in ....
                    <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editDeliverable()" style="float: right"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                </p>
            </div>
            <br>
            <h4 class="h4TileHeader" ><i class="icon-pencil"></i> Project Submissions</h4>
            <table datatable id="submissionsTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Submission</th>
                    <th style="text-align: right">Grade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Progress Report</td>
                    <td>3/1/2018 5:48PM</td>
                    <td><a href="#">progressreport.pdf</a></td>
                    <td style="text-align: right">
                        <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editGrade()"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                        <span ng-cloak ng-if="!isProfOrCoordinator">A-</span>
                    </td>
                </tr>
                <tr>
                    <td>Final Report</td>
                    <td>3/19/2018 10:12PM</td>
                    <td><a href="#">final.pdf</a></td>
                    <td style="text-align: right">
                        <button ng-cloak ng-if="isProfOrCoordinator" ng-click="editGrade()"><i class="icon-pencil blue" aria-hidden="true"></i></button>
                        <span ng-cloak ng-if="!isProfOrCoordinator">N/A</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="gradesModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-pencil" aria-hidden="true"></i> Edit Grades for ProjectNameHere</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <strong>Note:</strong> Select the individual grade for each student for <strong>FileSubmissionName.pdf</strong>.
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <strong>Student:</strong>
                    </div>
                    <div class="col-xs-8">
                        <strong>Grade:</strong>
                    </div>
                </div>
                <div class="row">
                <div class="col-xs-4">
                    <span>Tosin Oni</span>
                </div>
                <div class="col-xs-8">
                    <select>
                        <option value="NA">NA</option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option>
                        <option value="C-">C-</option>
                        <option value="D+">D+</option>
                        <option value="D">D</option>
                        <option value="D-">D-</option>
                    </select>
                </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <span>Mohamed Dahrouj</span>
                    </div>
                    <div class="col-xs-8">
                        <select>
                            <option value="NA">NA</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="D-">D-</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <span>Ibrahim Ali Fawaz</span>
                    </div>
                    <div class="col-xs-8">
                        <select>
                            <option value="NA">NA</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="D-">D-</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <span>Ali AlSaadi</span>
                    </div>
                    <div class="col-xs-8">
                        <select>
                            <option value="NA">NA</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="B-">B-</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="C-">C-</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="D-">D-</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit Grades</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="submitModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-doc" aria-hidden="true"></i> Upload a Deliverable</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-cloak ng-if="project.deliverable">
                    <strong>Time Remaining: </strong><span id="demo"></span>
                </div>
                <div class="container">
                    <span>Deliverable:</span>
                    <select ng-model="project.deliverable" required name="deliverable" required style="width:100%; margin-bottom: 20px">
                        <option>Essay 1</option>
                        <option>Essay 2</option>
                    </select>
                    <input id="submission-file" name="submission-file" type="file">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDeliverableModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form class="modal-content" ng-submit="addDeliverableToProject()" role="form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="icon-docs" aria-hidden="true"></i> Project Deliverable</h4>
            </div>
            <div class="modal-body">
                <p><strong>Deliverable Name:</strong></p>
                <input type="text" name="deliverableName" required style="width:100%; margin-bottom: 20px"/>
                <p><strong>Project:</strong></p>
                <select ng-model="project.names"
                        ng-options="p as (p.name) for p in projectsSupervised track by p.id"
                        name="name" required style="width:100%; margin-bottom: 20px">
                </select>
                <p><strong>Due Date:</strong></p>
                <input type="datetime-local" name="deliverableTime" required style="width:100%;"/>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>

    </div>
</div>