<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <h1 class="portalheader">
                <span class="fa fa-newspaper-o" aria-hidden="true"></span> Announcements
            </h1>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="icon-feed" aria-hidden="true"></i>
                                <a data-toggle="collapse" href="#notices">
                                    Project Notices
                                    <i style="float: right;" class="fa fa-chevron-right"></i>
                                </a>
                            </h3>
                        </div>
                        <div id="notices" class="panel-collapse collapse">
                            <div class="panel-body">
                            <ul class="list-group">
                                <p href="#" class="list-group-item">1. Next event: Wednesday, April 11th 2018.</p>
                                <p href="#" class="list-group-item">2. The poster fair event in the 4th floor Galleria of the University Centre is cancelled. However, you are still required to show your poster (slides or something alike) and demo to your supervisor and second reader since it is part of the project milestones.</p>
                                <p href="#" class="list-group-item">3. Did you know that not only can you borrow e-books, music, board games, video games as well as laptops from the library, but you can now borrow embedded hardware - Raspberry PIs and Arduinos.</p>
                                <p href="#" class="list-group-item">4. Please use your Carleton University (cmail) accounts in all email correspondence.</p>
                                <a href="#" class="list-group-item">5. You may be able to get funding for equipment through the Carleton University Engineering Student Equipment Fund.</a>
                                <a href="#" class="list-group-item">6. Any project that involves experimentation or data collection with human subjects requires approval from the ethics committee.</a>
                                <a href="#" class="list-group-item">7. Need technical help: Please read the Lab Procedures for all Fourth Year Students.</a>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="icon-calendar" aria-hidden="true"></i>
                                <a data-toggle="collapse" href="#deadlines">
                                    Deadlines
                                    <i style="float: right;" class="fa fa-chevron-right"></i>
                                </a>
                            </h3>
                        </div>
                        <div id="deadlines" class="panel-collapse collapse">
                            <div class="panel-body">
                            <ul class="list-group">
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Recommended Deadline for Project Selection.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> 11:59 PM</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Tuesday, September 12th 2017</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Final Deadline for Project Selection.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> 11:59 PM</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Tuesday, September 19th 2017</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> First Draft of Project Proposal Due.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> Noon</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Tuesday, September 19th 2017</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Written Progress Report Due.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> Noon</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Friday, December 8th 2017</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Complete Oral Presentation Form.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> 11:59 PM</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Friday, December 8th 2017</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Complete Poster Fair Demo Form.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> 11:59 PM</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Wednesday, February 28th 2018</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Draft of Final Report Due to Supervisor.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> 11:59 PM</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Friday, March 9th 2018</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <p><strong><i class="icon-bell" aria-hidden="true"></i> Final Report Due to Supervisor and On-line.</strong></p>
                                    <p><i class="icon-clock" aria-hidden="true"></i> 11:59 PM</p>
                                    <p><i class="icon-event" aria-hidden="true"></i> Wednesday, April 11th 2018</p>
                                </a>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>