<div class="container">
    <aside id="sticky-social">
        <ul>
            <li><a href="http://www.sce.carleton.ca/courses/sysc-4907/index.html" class="entypo-legacy" target="_blank"><span>Legacy Site</span></a></li>
            <li><a href="https://www.facebook.com/CarletonUniFED" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
            <li><a href="https://twitter.com/CarletonU_Eng" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
            <li><a href="https://carleton.ca/engineering-design/" class="entypo-web" target="_blank"><span>Web</span></a></li>
            <li><a href="https://www.github.com/tosinoni/capstonesystem" class="entypo-github" target="_blank"><span>Github</span></a></li>
            <li><a href="mailto:ug-projects@sce.carleton.ca" class="entypo-mail"><span>Mail</span></a></li>
            <li><a href="tel:6135202600" class="entypo-call"><span>Call</span></a></li>
        </ul>
    </aside>
    <div class="row">
        <h1 class="mainHeader">Welcome to the Capstone Portal</h1>
        <p class="homeHeader">Browse the list of projects and manage your 4th year project.</p>
        <p class="homeSubHeader">Click the button below to get started</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="material-button-anim">
                <ul class="list-inline" id="options">
                    <li class="option">
                        <a href="/projects">
                            <button class="material-button option1" type="button" title="Projects">
                                <span class="fa fa-rocket" aria-hidden="true"></span>
                            </button>
                        </a>
                    </li>
                    <li class="option">
                        <a href="/login">
                            <button class="material-button option2" type="button" title="Login | Register">
                                <span class="fa fa-sign-in" aria-hidden="true"></span>
                            </button>
                        </a>
                    </li>
                    <li class="option">
                        <a href="#">
                            <button class="material-button option3" type="button" title="Announcements">
                                <span class="fa fa-newspaper-o" aria-hidden="true"></span>
                            </button>
                        </a>
                    </li>
                </ul>
                <button class="material-button material-button-toggle" type="button" title="Click Me!">
                    <span class="fa fa-plus-square" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>
            <a href="/projects">Projects</a> | <a href="/login">Login/Register</a> | <a href="#">Announcements</a>
        </span>
        <br>
        <span>&copy; Carleton University 2018</span>
    </div>
</div>