<div class="container homepage">
    <aside id="sticky-social">
        <ul>
            <li><a href="http://www.sce.carleton.ca/courses/sysc-4907/index.html" class="entypo-legacy" target="_blank"><span>Legacy Site</span></a></li>
            <li><a href="https://www.facebook.com/CarletonUniFED" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
            <li><a href="https://twitter.com/CarletonU_Eng" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
            <li><a href="https://carleton.ca/engineering-design/" class="entypo-web" target="_blank"><span>Web</span></a></li>
            <li><a href="https://www.github.com/tosinoni/capstonesystem" class="entypo-github" target="_blank"><span>Github</span></a></li>
            <li><a href="mailto:ug-projects@sce.carleton.ca" class="entypo-mail"><span>Mail</span></a></li>
            <li><a href="tel:6135202600" class="entypo-call"><span>Call</span></a></li>
        </ul>
    </aside>

    <div class="row hometext">
        <img class="carletonlogo" src="../../img/logo-cu-white-outlined.svg" height="50px"/>
        <h1 class="mainHeader">Welcome to the Capstone Portal</h1>
        <p class="homeHeader">Browse the list of projects and manage your 4th year project.</p>
        <div class="panel-body" style="text-align: center;">
            <div class="row" style="display: inline-block;">
                <div class="col-sm-4">
                    <p><a href="/projects" class="homeicon"><i style="font-size: 25px;" class="icon-rocket" aria-hidden="true"></i></a><br>Projects</p>
                </div>
                <div class="col-sm-4">
                    <p><a href="/login" class="homeicon"><i style="font-size: 25px;" class="icon-login" aria-hidden="true"></i></a><br>Login/Register</p>
                </div>
                <div class="col-sm-4">
                    <p><a href="/announcements" class="homeicon"><span style="font-size: 28px;" class="fa fa-newspaper-o" aria-hidden="true"></span></a><br>Announcements</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <span>
            <a style="color: white" href="/projects">Projects</a> | <a style="color: white" href="/login">Login/Register</a> | <a style="color: white" href="/announcements">Announcements</a>
        </span>
        <br>
        <span>&copy; Carleton University 2018</span>
    </div>
</div>