.portalheader{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #428bca;
    margin-bottom: 1em;
}

.h4TileHeader{
    font-weight: bold;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}