.portalheader{
    font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #428bca;
    margin-bottom: 1em;
    margin-bottom: 0px;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
}

.h4TileHeader{
    font-weight: bold;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #428bca;;
    color: white;

}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}